.number-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    padding: 2em 4em;
    margin: 2em;
}

.firstFib {
    color: gray;
    animation-duration: 0.5s;
    animation-name: blink;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
